
body {background-color:bisque;
margin: 0 auto;
}

h1{
    color:peachpuff;
    text-align: center;
    border: 48px  solid red;
    border-style:outset;
    background-color:crimson;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif
    ;}
    
    div.tiramisu{
        background-color:rgb(3, 174, 174);
        margin: 16px 24px;
        border: 30px solid darkcyan;
        border-style: ridge;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    
    .lasagna,.tiramisu{
        border: 30px solid rgb(172, 82, 82);
        border-style:ridge;
        margin: 16px 24px;
        background-color:pink;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
    #meatballs{
        margin: 16px 24px;
        border: 30px solid darkgreen;
        border-style:ridge;
        background-color:forestgreen;
        font-size: 60px;
        font-style: italic;
      
    }